@import "tailwindcss";
@theme {
  --color-hero-bar: #4b5563;
  --color-blue: #00d4ff;
  --color-main: #111;
  --color-secondary: #6b7280;
  --color-bg-gray: #f9fafb;
  --color-bg-main: #00d4ff;
  --color-bg-secondary: #e5e7eb;
  --animate-blob: blob 7s infinite;
  --animate-float: float 3s ease-in-out infinite;

  @keyframes blob {
    0% {
      transform: translate(0px, 0px) scale(1);
    }
    33% {
      transform: translate(30px, -50px) scale(1.1);
    }
    66% {
      transform: translate(-20px, 20px) scale(0.9);
    }
    100% {
      transform: translate(0px, 0px) scale(1);
    }
  }
  @keyframes float {
    0%,
    100% {
      transform: translateY(0px);
    }

    50% {
      transform: translateY(-20px);
    }
  }
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins";
}
